<div  aria-label="..." dir-paginate="blog in uc.blogs | filter: {posted: true} | orderBy:uc.sortKey:uc.reverse | filter:search| itemsPerPage: uc.pageSize">
<div>
        <div class="blogContent">
            <div class="newpost" ng-style="{'background-image' : 'url(' + blog.featured + ')','background-size': 'cover','background-position': 'center center'}"></div>
            <div class="title"><a ng-href="#/posts/{{blog.param}}">{{blog.title}}</a></div>
            <ul>
                <md-chip><span class="postdate">{{ blog.date | dated | date : 'longDate' }}</span></md-chip>
                <md-chip><i><a ng-href="#/categories/{{blog.catParam}}">{{ blog.category }}</a></i></md-chip> /
                <!--<md-chip><i>{{ blog.county }}</i></md-chip>-->
                <md-chip><i>{{ blog.season }}</i></md-chip>
            </ul>
            <p><div class="messagestyle" ng-bind="blog.content | htmlToPlaintext | characters: 300: false"></div></p>
            <div class="boxed"><a ng-href="#/posts/{{blog.param}}">Read more</a></div>
            <div>Comments</div>
        </div>
    </div>
</div>
<dir-pagination-controls
        max-size="5"
        direction-links="true">
</dir-pagination-controls>