<div class="flexbox2">
<div dir-paginate="blog in bc.blogs | filter: {posted: true} | orderBy:bc.sortKey:bc.reverse | filter:search| itemsPerPage: uc.pageSize">
    <div class="blogPost">
                <div class="center">
                    <ul class="blogul">
                        <md-chip class="blogli"><i><a ng-href="#/categories/{{blog.catParam}}">{{ blog.category }}</a></i></md-chip> /
                        <md-chip class="blogli"><i><a ng-href="#/county/{{blog.cParam}}">{{ blog.county }}</a></i></md-chip> /
                        <md-chip class="blogli"><i>{{ blog.season }}</i></md-chip>
                    </ul>
                </div>
            <div class="postdate center">Posted On {{ blog.date | dated | date : 'fullDate' }}</div>
            <div class="title center"><a ng-href="#/posts/{{blog.param}}">{{blog.title}}</a></div>
            <div class="newpost centerimg" ng-style="{'background-image' : 'url(' + blog.featured + ')','background-size': 'cover','background-position': 'center center'}"></div>
            <p><div class="messagestyle" ng-bind="blog.content | htmlToPlaintext | characters: 300: false"></div></p>
            <div class="boxed"><a ng-href="#/posts/{{blog.param}}">Read more ></a></div>
            {{blog.comments.length}} Comments
        </div>
    </div>
</div>
<dir-pagination-controls
        max-size="5"
        direction-links="true">
</dir-pagination-controls>